# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CMake generated folders (VSCode and Clion defaults)
build/
cmake-build-debug/